# Python
*.pyc
__pycache__/
.env/
venv/
env/
pip-wheel-metadata/
.Python
build/
develop-eggs/
dist/
eggs/
lib/
parts/
sdist/
var/
wheels/
share/
*.egg-info/
.installed.cfg

# Django-specific files
*.log
*.pot
local_settings.py  # or the file where you keep your secrets/local config
db.sqlite3 # if you are using SQLite locally
media/ # collected user-uploaded files (can be large)

# IDE-specific files (e.g., PyCharm, VS Code)
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db