html{
    overflow-y: hidden;
}
.bar{
  position: fixed;
 
}
.buttons{
    left: 23px;
    position: relative;
    margin-top: 15px;
    
}
.add{
    background: url(/static/img/add_button.png) no-repeat;
   
}
.delete{
    background: url(/static/img/delete.png) no-repeat;
    margin-top: 5px;
    
}
.add,.delete{
    background-color: rgba(240, 248, 255, 0);
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    
}
.container-admins{
    width: 1773px;
    height: 919px;
    left: 3%;
    position: relative;
    top:140px;
    font-size: 18px;
    display: flex;
}

.find_user{
    width: 547px;
    height: 763px;
    background-color: rgb(255, 255, 255);
}
.Moders{
    
    width: 1096px;
    height: 400px;
}
.Salers{
    
    width: 1096px;
    height: 400px;
    
}
.employees{
    margin-left: 55px;
}
.find_user_bar{
    background-color:rgba(170, 57, 222, 1) ;
    color: white;
    height: 49px;
    font-size: 20px;
    display: flex;
}
.find_user_bar text {
    position: relative;
    top: 25%;
    left: 10px;
    user-select: none;
}
.Moders_bar, .Salers_bar{
    background-color:rgba(170, 57, 222, 1) ;
    color: white;
    height: 50px;
}
.Moders_bar text, .Salers_bar text {
    position: relative;
    top: 25%;
    left: 15px;
}
.more_button {
    background-image: url('/static/img/open_bar.png');
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    
}
.more_container_button{
    position: relative;
    left: 300px;
}
.inf-container{
    left:35px;
    top: 5px;
    position: relative;
}
.table-inf{
    border: 1px solid;
}

.table-inf td{
    border: 1px solid;
    width: 190px;
    height: 40px;
    text-align: center;
}
.id_table{
   width: 43px !important;
   height: 43px !important;
}
 .container-admins input{
    width: 70%;
    height: 20px;
    font-size: 16px;
    
}
.container-admins textarea{
    width: 515px;
    height: 146px;
    resize: none;
    font-size: 18px;
}
#button_find{
    background-color: blueviolet;
    color: white;
    width: 100px;
    height: 30px;
    margin-top: 15px;
    font-size: 16px;
    border: none;
}
#button_find:hover{
    background-color: rgb(116, 37, 190);
}