@font-face {
    font-family:'RubikMono' ;
    src: url('RubikMonoOneRegular.ttf') format('truetype');
}
.cards-container{
    width: 1111px;
    height: 430px;
    position: absolute;
    left: 110px;
    text-align: center;
    display: flex;
}

.card{
    background-color:rgba(221, 118, 195, 1) ;
    width: 323px;
    height: 422px;
    margin-right: 69px;
    z-index: 20;
    text-align: center;
    font-size: 14px;
    font-family:'RubikMono' ;
    color: white;
    border-radius: 2px;
    user-select: none;
    border-radius: 6px;
}
.tarif-type{
    width: 323px;
    height: 56px;
    background-color: rgba(233, 168, 229, 1);
    font-weight: 14px;
    border-radius: 8px;
}

.tarif-type-text{
    
    position: relative;
    top: 20px;
}

.tarif-name{
    height: 74px;
    width: 280px;
    margin-top:13px;
    background-color:rgba(217, 159, 237, 1) ;
    margin-left: 22px ;
    border-radius: 8px;
}
.tarif-speed-word-text{
    text-align: center;
    font-size: 5px;
}
.tarif-speed-word{
    
    height: 74px;
    width: 280px;
    margin-top:13px;
    background-color:rgba(217, 159, 237, 1) ;
    margin-left: 22px ;
    border-radius: 8px;
}

.tarif-inf{
    margin-left: 19px;
    display: flex;
    width: 283px;
    height: 49px;
    margin-top: 9.5px;
}
.prise{
    margin-right: 18px;
    background-color:rgba(217, 159, 237, 1) ;
    width: 162px;
    height: 49px;
    border-radius: 6px;
    
}
.speed{
    background-color:rgba(217, 159, 237, 1) ;
    height: 49px;
    width: 103px;
    border-radius: 6px;
}
.button-buy{
    margin-left: 19px;
    width: 280px;
    height: 74px;
    background-color:rgba(217, 159, 237, 1) ;
    font-size:32px ;
    margin-top: 15px;
    border-radius: 8px;
}
.card hr{
    
    width: 301px;
    border: none;
    border-top: 1px solid rgb(0, 0, 0);
    margin: 0px;
    margin-left: 12px;
    margin-top: 15px;

}
.tarif-speed-word img{
    position: relative;
    margin-top: 8px;
    height: 48px;
    width: 48px;
    margin-left: 14px;
}
.tarif-speed-word{
    display: flex;
}
.tarif-speed-word-text{
    padding-top: 19px;
    padding-left: 5px;
    font-size: 14px;
    
}
.tarif-name-text{
    padding-top:24px ;
}
.prise-text{
    padding-top: 11px;
    font-size: 16px;
    text-decoration: dashed black;
}
.speed-text{
    padding-top: 2px;
    font-size: 16px;
    text-decoration: dashed black;
}
.button-buy-text{
    user-select: none;
    padding-top: 16px;
    font-family:'RubikMono' ;
    color: white;
}
.button-buy:hover{
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(181, 122, 208, 1);
    
}