.content{
    
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.container-main{
    display: inline-block
    
}
.backgroundimagecat{
    left: 9%;
    position: relative;
    pointer-events: none;
    z-index: 1;
    top:100px ;
    filter: blur(5px);
    border-radius: 5px;
}

.tarif{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 5;
    margin-bottom: 10%;
    width: 1310px;
    height: 722px;
    top: -400px;
    left: 15%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    overflow: hidden;
}
.description{
    position: relative;
    left: 93px;
    font-size: 26px;
    text-align: left;
    
    width:1734px;
    height: 540px;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    top: -15px;
    white-space: pre-line;
    
    
    
}
.text-content-description{
    max-width: 1700px;
    position: relative;
    top: 15px;
    left: 25px;
    font-weight: 15;
    
}
.parent-decor-text-tarif{
    font-size: 72px;
    font-family:'RubikMono';
    padding-top: 15px;
}
.decor-text-tarif{
    user-select: none;
    margin-top: 36px;
    text-align: center;
}
.parent-decor-text-tarif{
    
    width: 1310px;
    height: 158px;
}
.tarifbuttons{
    position: relative;
    display: flex;
    width: 305px;
    height: 78px;
    left: 520px;
    text-align: center;
}

.internetbutton , .tvbutton{
    text-align: center;
    user-select: none;
    height: 48px;
    font-size: 20px;
    background-color: rgb(250, 250, 250);
    border-radius: 3px;
    margin-left: 5px;
    width: 140px;
    cursor: pointer;
}

.internetbutton:hover , .tvbutton:hover{
    
    background-color:rgba(217, 217, 217, 0.84);
    
}

.internetbutton .text-button , .tvbutton .text-button{
    position: relative;
    top:10px;
    
}

.lapa2{
    position: absolute;
    z-index: 1;
    top:380px;
}
.lapa1{
    position: absolute;
    top: -30px;
    z-index: 1;
    left: 950px;
}


#left-arrow{
    position: absolute;
    top: 361px;
    cursor: pointer;
    z-index: 20;
}
#right-arrow{
    position: absolute;
    top: 361px;
    left:1250px;
    transform: rotate(180deg);
    cursor: pointer;
    z-index: 20;
}
