.pages-container{
   margin-top: 10px;
    
    text-align: center;
    
}
.pages-obj a{
    color: rgb(255, 255, 255);
    font-size: 24px;
    background-color: rgba(167, 68, 212, 0.616);
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Impact;
    border-radius: 5px;
    
}

@font-face {
    font-family: Rubik;
    src: url(./RubikDoodleShadow.ttf);
}
#base-table {
    height: auto !important;
}
.user-select{
    width: 200px;
    height: 30px;
    text-align: center;
    margin: 5px;
}