html{
   overflow: hidden;
}
.user-id-text{
    font-size: 32px;
    
}
.main-container{
    width: 1500px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-top: 200px;
    margin-left: 150px;
    border-radius: 14px;
}
.container-other{
    width: 100%;
    height: 400px;
    display: flex;
    margin-left: 50px;
}
.user-id-text{
    margin-left: 50px;
}
.balasne{
    color: rgb(255, 123, 0);
    font-size: 50px;
}
.imgtarif{
    border-radius: 15px;
    width: 60px;
    height: 60px;
    background-color: blueviolet;
    text-align: center;
    align-items: center;
    
}
.imgtarif img{
    margin-top: 5px;
}
.tarif-name{
    border-width: 1px;
    border-style: dashed;
    border-color: black;
    width: 350px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin-left: 50px;
    border-radius: 10px;
    

}
.content-block{
    margin-top: 15px;
    display: flex;
    margin-left: 15px;
    
}
.type-tarif{
    
    font-size: 22px;
}
.tarif-login-and-type{
    margin-left: 15px;
}
.login-tarif{
    margin-top: 10px;
    
    font-size: 24px;
}
.container-more{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 15px;
}
inf{
 color: blueviolet;    
}

.otherinf{
    font-size: 22px;
}
.container-other button{
    width: 200px;
    height: 50px;
    margin-top: 15px;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    border: none;
    outline: 0px;
    cursor: pointer;
}
.container-other button:hover{
    background-color: rgb(145, 46, 238);
   
}

.type-pay ,.auto-pay ,.delivery-inf,.status-tarif,.status,.bonuses{
    margin-top: 10px;
}
.user-bar{
    background-color: rgba(255, 255, 255, 0.336);
    width: 100%;
    height: 50px;
    display: flex;
    user-select: none;
    
        
    
}
.Main-inf, .services,.changing-profile{
    height: 100%;
    width: 250px;
    display: flex;
    background-color: white;
    text-align: center;
    align-items: center;
    font-size: 24px;
    justify-content: center;
}

.user-bar button {
    width: 100%;
    height: 100%;
    background-color: white;
    outline: 0 ;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.user-bar button:hover{
    background-color: rgb(231, 231, 231);
}
button{
    user-select: none;
}
.user-profile-inf{
    font-size: 22px;
    margin-left: 55px;
}
.first-name ,.number-phone ,.adress{
    margin-top: 10px;
}