
    
.makeuser ,.deleteuser{
    text-align: center;
    width:  350px;
    height: 250px;
    text-align: left;
    border-radius: 16px;
    margin: 20px;
    
}
.data input ,.data select {
    width: 250px;
    height: 20px;
    margin-top: 20px;

    
}
.deleteuser select{
 width: 250px;
height: 50px;   
}
.makeuser button, .deleteuser button{
    background-color: rgb(166, 56, 209);
    color: white;
    border-radius: 8px;
    width: 150px;
    height: 30px;
    margin-top: 15px;
}
.button-container{
    text-align: center;
}
.minimum-data{
    text-align: center;
}
