a{text-decoration: none;}
html {
  height: 200%; 
  overflow-x: hidden;
}
@font-face {
    font-family: "Holtwood";
    
    src: url('HoltwoodOneSCRegular.ttf') format('truetype');
}
@font-face {
    font-family:'RubikMono' ;
    src: url('RubikMonoOneRegular.ttf') format('truetype');
}
@font-face {
    font-family: 'RuslanDisplay';
    src: url('RuslanDisplay.ttf' ) format('truetype');
}

@keyframes borders{
    0%{
        border-bottom: 0px solid white;
    }
    
    100%{
        border-bottom: 5px solid white;
    }

}
img{
    user-select: none;
    
}

.site{
    display: block;
}
body {
  min-height: 100vh; 
  margin: 0; 
  padding: 0; 
  display: inline;
  
}
a{
    text-decoration: none;
    color: white;
}
.bar button{
    color: white;
    background: none;
    border: none;
    font-family: 'RuslanDisplay';
    font-size: 22px;
   
}
button{
    cursor: pointer;
}
.bar{
    user-select: none;
    z-index: 100;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    min-height:114px;
    min-width: 100%;
    background-color: rgba(135, 62, 164, 1) ;
    
}
.bglogo{
    
    cursor: pointer;
    justify-content: center;
    text-align: center;
    display: flex;
    left: 51px;
    top: 10px;
    height: 84px;
    width: 353px;
    background-color: rgba(135, 62, 164, 0) ;
}

.bglogo img{
    position: relative;
    left: 28px;
}
.Meow{
    text-decoration: none;
    margin-top: 15px;
    margin-left: 30px;
    font-family:'RubikMono' ;
    color: aliceblue;
    font-size: 48px;
}

.logo{
    text-align: center;
    margin-top: 10px;
    min-width: 380px;
}
.maininf{
    text-align: center;
    margin-left: 100px !important; 
    left: 90px;
    top:10px ;
    font-family:"Holtwood" ;
    width: 299px;
    
}
.techblocks{
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 5px;
    position: relative;
    background-color:rgba(135, 62, 164, 0)  ;
    width:299px;
    height:39px;
    color: white;
}

.text{
    font-size: 22px;
    width: 247px;
    display: inline-block;
    padding-bottom: 2px;
    color: white;
   
}
.phone{
    user-select:text;
    text-align: center;
    font-family:'RubikMono' ;
    color: white;
    font-size: 19px;
    text-align: left;
    max-width: 500px;
    min-width: 200px;
    max-height: 40px;
   margin-top: 35px;
    
}
.rightbar{
    margin-top: 5px;
    background-color:rgba(135, 62, 164, 1)  ;
}
.support{
    cursor: pointer;
    text-align: center;
    min-width:400px;
    height:39px;
    background-color:rgba(135, 62, 164, 1)  ;
   
    

}
.support .text{
    margin-top: 20x;
    
    

}
.more{
    width: 300px;
    height: 100;
    cursor: pointer;
   
    
}
.more-object{
    margin-top: 30px;
    margin-left: 150px;
}

.bar button:hover{

    border-bottom: 3px solid white;
    animation: borders 0.1s ease-in;
   
    
}   
.number{min-width: 576px;}
.login-account{
    
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 5px;
    position: relative;
    background-color:rgba(135, 62, 164, 0)  ;
    color: white;
    font-family: 'RuslanDisplay';
    font-size: 22px;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.login-account:hover a{
    border-bottom: 3px solid white;
    animation: borders 0.1s ease-in;
}