.makeuser{
    border: 1px solid black;
    width:  350px;
    height: 250px;
    text-align: left;
    border-radius: 16px;
    margin: 20px;
    
}
.minimum-data input {
    width: 250px;
    height: 20px;
    margin-top: 20px;

    
}
.makeuser button{
    background-color: rgb(166, 56, 209);
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 20px;
}
.button-test-container{
    text-align: center;
}
.minimum-data{
    text-align: center;
}
