{%extends 'main.html'%}
{%load static%}
{%block link%}
<link rel="stylesheet" href="{%static 'css/login.css'%}">
{%endblock%}
{%block title%} Авторизация {%endblock%}
{%block logolabel%} MeowCRM {%endblock%}
{%block content%}
{%block bar%}{%endblock%}
<div class="login">
    <div class="log-container">
        <img src="{% static 'img/Net.png'%}" alt="">
        <div class="logoAuth">MeowCRM</div>
        <div class="text-login"><text>Вход в личный кабинет </text></div>
        
        <div class="databar">
            <form method="POST" >
                {% csrf_token %}
                <input  name = 'username'type="text" placeholder="Логин" id="login" >
                <input  name='password' type="password" placeholder="Пароль" id="password">
            
        </div>
        
        <div ><button class="confrum-button">Продолжить</button></div>
        </form>
        <div class="user-legal"> 
            <text > Нажимая кнопку “Войти”,вы принимаете условия пользовательского соглашения</text></div>
        <hr>
            <div class="forgotpassword" title="Для восстановления пароля обратитесь к администратору!"><text><a href="">Забыли пароль?</a></text> </div>
    </div>
        
    </div>
{%endblock%}