{%extends 'main.html'%}
{%load static%}
{%block link%}
<link rel="stylesheet" href="{%static 'css/login.css'%}">
{%endblock%}
{%block title%} Авторизация {%endblock%}
{%block logolabel%} MeowNet {%endblock%}
{%block content%}

<div class="auth-wrapper">
    
    <div class="login">

    <img src="{% static 'img/cat_watch.png' %}" class="cat-watch" alt="">

        <img src="{% static 'img/Net.png' %}" alt="logo">

        <div class="logoAuth">
            MEOWNET
        </div>

        <!-- Переключение форм -->
        <div class="switch-panel">
            <button id="loginBtn" class="switch-btn active">Вход</button>
            <button id="registerBtn" class="switch-btn">Регистрация</button>
        </div>

        <!-- Форма входа -->
        <form id="loginForm" method="POST" class="form-block">
            {% csrf_token %}
            <div class="databar">
               <input
                    name="username"
                    type="text"
                    placeholder="Логин"
                    pattern="[A-Za-z0-9_]+"
                    title="Разрешены английские буквы, цифры и нижнее подчеркивание"
                    required>
                <input name="password" type="password" placeholder="Пароль" pattern="[A-Za-z0-9_]+"
                    title="Разрешены английские буквы, цифры и нижнее подчеркивания" required>
            </div>
            <button type="submit" class="confrum-button">Войти</button>
            <div class="user-legal">
                Нажимая кнопку "Войти", вы принимаете условия пользовательского соглашения
            </div>
            <div class="forgotpassword">
                <a href="#">Забыли пароль?</a>
            </div>
        </form>
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="message {{ message.tags }}">{{ message }}</li>
        {% endfor %}
        {%endif%}
        <!-- Форма регистрации -->
        <form id="registerForm" class="form-block hidden" method="POST">
            {% csrf_token %}
            <div class="databar">
               <input
                type="text"
                name="userlastname"
                placeholder="ФИО пользователя"
                pattern="[А-Яа-яЁё\s\-]+"
                title="Разрешены только русские буквы"
                required>
                
                <input type="password" name="password" placeholder="Пароль" pattern="[A-Za-z0-9_]+"
                    title="Разрешены английские буквы, цифры и нижнее подчеркивание" required>
                <input type="password" placeholder="Повторите пароль" pattern="[A-Za-z0-9_]+"
                    title="Разрешены английские буквы, цифры и нижнее подчеркивание" required>
                 <input type="" name="phone" placeholder="Номер телефона" pattern="^(\+7|8)\d{10}$"
                    title="Введите номер в формате +79991234567 или 89991234567"required>
            </div>
            <button type="submit" class="confrum-button">Зарегистрироваться</button>
        </form>

    </div>
</div>

<script>
const loginBtn = document.getElementById('loginBtn');
const registerBtn = document.getElementById('registerBtn');
const loginForm = document.getElementById('loginForm');
const registerForm = document.getElementById('registerForm');

loginBtn.addEventListener('click', () => {
    loginBtn.classList.add('active');
    registerBtn.classList.remove('active');
    loginForm.classList.remove('hidden');
    registerForm.classList.add('hidden');
});

registerBtn.addEventListener('click', () => {
    registerBtn.classList.add('active');
    loginBtn.classList.remove('active');
    registerForm.classList.remove('hidden');
    loginForm.classList.add('hidden');
});
</script>

{%endblock%}