{%extends 'main.html'%}
{%load static%}
{%block link%}
<link rel="stylesheet" href="{%static 'css/login.css'%}">
{%endblock%}
{%block title%} Авторизация {%endblock%}
{%block logolabel%} MeowNet {%endblock%}
{%block content%}

<div class="auth-wrapper">

    <div class="login">

        <img src="{% static 'img/Net.png' %}" alt="logo">

        <div class="logoAuth">
            MEOWNET
        </div>

        <!-- Переключение форм -->
        <div class="switch-panel">
            <button id="loginBtn" class="switch-btn active">Вход</button>
            <button id="registerBtn" class="switch-btn">Регистрация</button>
        </div>

        <!-- Форма входа -->
        <form id="loginForm" method="POST" class="form-block">
            {% csrf_token %}
            <div class="databar">
                <input name="username" type="text" placeholder="Логин" required>
                <input name="password" type="password" placeholder="Пароль" required>
            </div>
            <button type="submit" class="confrum-button">Войти</button>
            <div class="user-legal">
                Нажимая кнопку "Войти", вы принимаете условия пользовательского соглашения
            </div>
            <div class="forgotpassword">
                <a href="#">Забыли пароль?</a>
            </div>
        </form>

        <!-- Форма регистрации -->
        <form id="registerForm" class="form-block hidden">
            {% csrf_token %}
            <div class="databar">
                <input type="text" placeholder="ФИО пользователя" required>
                
                <input type="password" placeholder="Пароль" required>
                <input type="password" placeholder="Повторите пароль" required>
            </div>
            <button type="submit" class="confrum-button">Зарегистрироваться</button>
        </form>

    </div>
</div>

<script>
const loginBtn = document.getElementById('loginBtn');
const registerBtn = document.getElementById('registerBtn');
const loginForm = document.getElementById('loginForm');
const registerForm = document.getElementById('registerForm');

loginBtn.addEventListener('click', () => {
    loginBtn.classList.add('active');
    registerBtn.classList.remove('active');
    loginForm.classList.remove('hidden');
    registerForm.classList.add('hidden');
});

registerBtn.addEventListener('click', () => {
    registerBtn.classList.add('active');
    loginBtn.classList.remove('active');
    registerForm.classList.remove('hidden');
    loginForm.classList.add('hidden');
});
</script>
{%endblock%}