{%extends 'AdminPanel.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Тестировка{%endblock%}</title>
   {%block link%}
   <link rel="stylesheet" href="{%static 'css/testing.css'%}">
   <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{%static 'css/message.css'%}">
   {%endblock%}

</head>
<body>
   
    {%block bar%} 
    
    {%endblock%}
    {%block content%}
             {%block leftpanel%} {{ block.super }} {%endblock%}
             {%block Message%} {{ block.super }} {%endblock%}
                
            <div id="makecontainer">
                <div class="changepassword">
    Смена пароля сотрудника
    <div class="data">
        <div>
            <select name="changepassword-select" id="changepassword-select" size="6">
                {% for i in employers %}
                    {% if i.username != user.username %}
                    {%if i.user_acces > 0%}
                        <option value="{{ i.id }}">
                            {% if i.username %}{{ i.username }}{% else %}Без имени{% endif %}
                        </option>
                        {%endif%}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div><input id="new-password" type="password" placeholder="Новый пароль"></div>
    </div>
    <div class="button-container">
        <button id="changepassword-button">Сменить пароль</button>
    </div>
    <hr>
</div>

                <div class='makeuser'>
                   <div style="font-size: 18px;"> Создание нового пользователя</div>   
                    <div class="data">
                            <div><input id="username" type="text" placeholder='Логин'></div>
                            <div><input id ='password'type="password" placeholder='Пароль'></div> 
                            <div><input id ='user-last-name'type="text" placeholder='ФИО'></div> 
                            <div>
                                
                                <select name="makeuser-select" id="makeuser-select">
                                    <option value="2">Техническая поддержка</option>
                                    <option value="1">Продажи</option>
                                    <option value="3">Монтажник</option>
                                    <option value="4">Младший Менеджер</option>
                                    <option value="5">Старший Менеджер</option>
                                </select>
                                
                            </div>
                        </div>    
                        
                       
                        <div class="button-container">
                                <button id="confrum">Создать сотрудника</button>
                        </div>
                      
                        <div id="textinf"></div>
                        <hr>
                    </div>
                <div class="deleteuser">
                    Удаление пользователя
                    <div class="data">
                        <div class="custom-select">
                            <select name="deleteuser-select" id="deleteuser-slect" size="12">
                                 {%for i in  employers%}
                                    {%if i.username != user.username%}
                                    {%if i.user_acces > 0%}
                                 <option value="{{i.id}}" >
                                    {%if i.username%}{{i.username}}{%else%}Без имени{%endif%}
                                </option>
                                 {%endif%}
                                {%endif%}
                                 {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="button-container">
                        <button id="delete-button">Удалить сотрудника</button>
                    </div>
                    <hr>
                </div>
            </div>
      <div class="edituser">
    Редактирование ФИО сотрудника
    <div class="data">
        <div>
            <select name="edituser-select" id="edituser-select" size="6">
                {% for i in employers %}
                    {% if i.username != user.username %}
                       {%if i.user_acces > 0%}
                    <option value="{{ i.id }}">
                            {% if i.username %}{{ i.user_last_name }}{% else %}Без имени{% endif %}
                        </option>
                         {%endif%}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div>
            <input id="edit-fullname" type="text" placeholder="Новое ФИО">
        </div>
    </div>
    <div class="button-container">
        <button id="edituser-button">Сохранить изменения</button>
    </div>
    <hr>
</div>
    <script src="{%static 'js/testmakeuser.js' %}"></script>
    <script src="{%static 'js/deleteuser.js'%}"></script>
    <script src="{%static 'js/editscript.js'%}"></script>
    {%endblock%}
   
</body>
</html>