{%extends 'main.html'%}
{%load static %}
{%block link%} 
    <link rel="stylesheet" href="{% static 'css/support.css' %}">
    <link rel="stylesheet" href="{% static 'css/order.css'%}">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" href="{% static 'css/cards.css'%}">
{%endblock%}
{%block title%} Гланая страница {%endblock%}
{%block content%}
    
        <!-- сделать картинки что бы выводились -->
        <div class="backgroundimagecat"><img src="{%static 'img/backgroundcat.png'%}" alt=""></div>
        <div class="tarif">
            <div class="parent-decor-text-tarif">
                 <div class="decor-text-tarif">Тарифы</div>
            </div>
            <div class="tarifbuttons">
                <div class="internetbutton"><div class="text-button">Интернет</div></div>
                <div class="tvbutton"><div class="text-button">Телевидение</div></div>
            </div>
            
            <div class="cards-container">
                
                {%for i in tarif%}


                <div class="card">

                    <div class="tarif-type"><div class="tarif-type-text">Интернет</div></div>
                    <div>
                        <div class="tarif-name"><div class="tarif-name-text">{{i.Tarif_name}}</div></div>
                        
                        <hr>
                    </div>
                    
                    <div class="tarif-speed-word">
                        <img src="{%static 'img/Cpu.png'%}" alt="">
                        <div class="tarif-speed-word-text">Высокоскоростной интернет </div>
                     </div>
                    <hr>
                    <div class="tarif-inf">
                       
                        <div class="prise"> <div class="prise-text">{{i.price}}руб</div> </div>
                        <div class="speed"> <div class="speed-text">{{i.speed}}Мбит/c</div></div>
                       
                    </div>
                    
                    <div class="button-buy"><div class="button-buy-text">Купить</div></div>
                </div>
                {%endfor%}
                {%for i in actions%}
                <div class="card">
                     
                    <div class="tarif-type"><div class="tarif-type-text">Интернет</div></div>
                    <div>
                        <div class="tarif-name"><div class="tarif-name-text">{{i.Tarif_name}}</div></div>
                        
                        <hr>
                    </div>
                    
                    <div class="tarif-speed-word">
                        <img src="{%static 'img/Cpu.png'%}" alt="">
                        <div class="tarif-speed-word-text">Высокоскоростной интернет </div>
                     </div>
                    <hr>
                    <div class="tarif-inf">
                       
                        <div class="prise"> <div class="prise-text">{{i.price}}руб</div> </div>
                        <div class="speed"> <div class="speed-text">{{i.speed}}Мбит/c</div></div>
                       
                    </div>
                   
                    <div class="button-buy"><div class="button-buy-text">Купить</div></div>
                </div>
                {%endfor%}
               
                
            </div>
            <img src="{%static 'img/lapa2.png' %}" class="lapa2">
            <img src="{%static 'img/lapa1.png'%}"  class="lapa1" >
            <div class="arrow">
                <img src="{%static 'img/arrow.png'%}"  id="left-arrow">
                <img src="{%static 'img/arrow.png'%}"  id="right-arrow"></div>

            <div class="button-tarif">

            </div>
        </div>
               
    <div class="description">
       <div class="text-content-description">
        MeowNet — современный и надежный интернет-провайдер, предлагающий высокоскоростное и стабильное подключение к сети для частных пользователей и бизнеса. Мы стремимся обеспечить наших клиентов качественным интернетом с минимальными задержками и максимальной скоростью, используя передовые технологии и индивидуальный подход.
        Наши преимущества:
    
        🟢Широкий выбор тарифных планов для дома и офиса
        🟢Высокая скорость передачи данных и стабильное соединение
        🟢Круглосуточная техническая поддержка
        🟢Простое подключение и удобное управление услугами через личный кабинет
        🟢Конкурентные цены и прозрачные условия
        
        Миссия MeowNet — сделать интернет доступным и комфортным для каждого, обеспечивая надежную связь и качественный сервис.

       </div> 
    </div>
   
    <!-- <div class="support-window">
        <div class="bar-support">
            <div class="text-bar-support">
                Техническая поддержка
            </div>
        </div>
        <div class="inputs-support">
            <div class="text-support-content"> ФИО </div>
            <input type="text" id="FirstName-support">
            <div class="text-support-content"> Номер телефона</div>
            <input type="text" id="Numberphone-support">
            <div class="text-support-content">Описание проблемы</div>
            <textarea id="Report-support"></textarea>
        </div>
        <div class="images-and-buttons">
            <label for="image-hidden-1" id="image-1">Добавить изображение</label><label for="image-hidden-2" id="image-2">Добавить изображение</label>
            <input type="file" id="image-hidden-1" ><input type="file" id="image-hidden-2" >
            <button id="close">Отменить</button><button id="submit">Отправить</button>
        </div>
    </div> -->
    

   <!-- <div class="order">
    <div class="bar-order"> <div class="text-bar-order">Заказать подключение</div></div>
    <div class="container-order">
        <div class="input-blocks-order">
            <div class="text-blocks-order-inf">Город</div>
            <input type="text" id="City">
            <div class="text-blocks-order-inf">Адрес</div>
            <input type="text" id="Adres">
            <div class="text-blocks-order-inf">ФИО</div>
            <input type="text" id="FirstName">
            <div class="text-blocks-order-inf">Номер телефона</div>
            <input type="text" id="NumberOfPhoneUser">
        </div>
        
        <div class="order-inf-tarif">
            <div class="order-tarif-bar"><div class="text-order-tarif-bar">Название тарифа</div></div>
            
            <div class="order-name-tarif"><div class="text-order-name-tarif">
                
                <div class="text-order-name-tarif-pos">Тариф бадабумчик</div></div>
            </div>
            
            <div class="order-type-tarif"><img src="{%static 'img/Cpu.png'%}"> <div class="text-inif-tarif">Высокоскоростной интернет</div></div>
        </div>
        
    </div>
        <button class="order-button"><div class="button-text">Подключиться</div></button>
   </div> -->

   
  
{%endblock%}