
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {%block link%}
    {%endblock%}
    <link rel="stylesheet" href={% static 'css/maintitle.css'%}>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{%block title%} error {%endblock%}</title>
</head>
<body>
    <div>
      <script>
      document.addEventListener('dragstart', function(event) {
        if (event.target.tagName === 'IMG') {
            event.preventDefault();
  }
});</script>
        

    </div>
    <div class="bar">
        <div class="logo">
            <a id="a-logo" href="/">

                <div class="bglogo"> 
                    <div class="Meow">{%block logolabel%} MeowNet {%endblock%}</div>
                    <img src="{% static 'img/Net.png'%}" alt="">
                    
                </div>
            </a>
        
        </div>
        {%block bar%}
        <div class="maininf"><div class="techblocks">
            <div class="text">Город</div>
        </div>
        <div>
            <div class="techblocks">
                <div class="text">     Техническая возможность     </div>
            </div>
        </div>

        </div>
        <div class="number"><div class="phone">Горячая линия: 8(916)000 43-00</div></div>
        <div class="rightbar">
            {%if user.username%}
                <div class="login-account"><a href="/user/auth/profile">{{user.username}}</a></div>
            {%else%}
                <div class="login-account"><a href="/user/auth">Войти | Зарегестрироваться </a></div>
            {%endif%}
            <div class="support"><div class="text">Техническая поддержка</div></div>
        </div>
        
        {%endblock%}
    </div>
    
    
    <div class="content">
        {%block content%}
        
    
   
    
        {%endblock%}
    </div>


</body>
</html>