
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {%block link%}
    {%endblock%}
    <link rel="stylesheet" href={% static 'css/maintitle.css'%}>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{%block title%} error {%endblock%}</title>
</head>
<body>
    <div>
        

    </div>
    <div class="bar">
        <div class="logo">
            <a id="a-logo" {%if user.user_acces == 0%} href="/"{%else%} href='{%url 'profile'%}'{%endif%}>

                <div class="bglogo"> 
                    <img src="{% static 'img/Net.png'%}" alt="">
                    <div class="Meow">{%block logolabel%} MeowNet {%endblock%}</div>
                    
                    
                </div>
            </a>
        
        </div>
        {%block bar%}
        <div class="maininf"><div class="techblocks">
            
        </div>
        <div>
            
        </div>

        </div>
        <div class="number"><div class="phone">Горячая линия: 8(916)000 43-00</div></div>
        <div class="rightbar">
            {%if user.username%}
                <div class="login-account"><a href="{%url 'profile'%}">В личный кабинет</a></div>
            {%else%}
                <div class="login-account"><a href="/user/auth">Авторизация | Регистрация </a></div>
            {%endif%}
            
        </div>
        {%block messages%}
        <div class="message-inf" id="message-inf">
          
           
        </div>{%endblock%}
        {%endblock%}
    </div>
    
    
    <div class="content">
        {%block content%}
        
    
   
    
        {%endblock%}
    </div>


</body>
</html>
      <script>
      document.addEventListener('dragstart', function(event) {
        if (event.target.tagName === 'IMG') {
            event.preventDefault();
  }
});</script>