
{%extends 'main.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block title%} Ваш профиль {%endblock%}
    {%block link%} 
    <link rel="stylesheet" href="{%static 'css/profile.css'%}">
    {%endblock%}
</head>
<body>
    {%block content%}
    <div class="main-container">
        
        <div class="user-bar">
            <a href="{%url 'profile'%}"><div class="Main-inf"><button>Лицевой счет</button></div></a>
            <a href="{%url 'services'%}"><div class="services"><button>Услуги</button></div></a>
           <a href="{%url 'settingsuser'%}"> <div class="changing-profile"><button>Изменение профиля</button></div></a>
            
        </div>
        <div class="profieinf">
            <div class="user-id-text">Лицевой счет <inf>  №{{user.id_userlog}}</inf></div>
            <div class="container-other">
    
                <div class="balanse-text">
                        <div class="text-inf">Баланс на 05.05.2025 в 15:00</div>
                        <div class="balasne">{{user.balance}}руб.</div>
                        <div class="user-profile-inf">
                    <div class="first-name">Фио: <inf>{{user.user_last_name}}</inf></div>
                    <div class="number-phone">Номер телефона: <inf>{{user.numberphone}}</inf></div>
                    <div class="adress">Адрес:<inf>{{user.address}}</inf></div>
            </div>    
                        {%if user.user_tarif%}
                        <div class="otherinf">
                            <div class="type-pay">Следующее списание:<inf>{{user.Date_of_new_write_off}}</inf></div>
                            <div class="auto-pay">Сумма платежа:{{user.user_tarif.price}}руб.<inf></inf></div>
                            
                            <a href="{%url 'logout'%}"><button id="exit-button">Выйти из профиля</button></a> </button>
                            <button id="balance-batton-add">Пополнить счет</button>
                        </div>
                    </div>
                    <div class="tarif-name">
                        <div class="content-block">
    
                            <div class="imgtarif"><img src="{%static 'img/Cpu.png' %}" alt=""></div>
                            <div class="tarif-login-and-type">
                                <div class="type-tarif">{{user.user_tarif.typetarif}}</div>
                                <div class="login-tarif">Логин <inf>@{{user.username}}</inf></div>
                            </div>
                        </div>
                        <div class="container-more">
                            <div class="status-tarif">Статус услуги:<inf id="tarif-act">{{user.user_tarif_active}}</inf></div>
                            <div class="status">Тариф:<inf>{{user.user_tarif.Tarif_name}}  {{user.user_tarif.speed}}Мбит/c</inf></div>
                            <div class="bonuses">Скидочный период: Отсуствует</div>
                            <div class="button">
                                <button>Управлять услугой</button>
                        </div>
                        </div>
                    
                    </div>
                    {%endif%}
                    
            </div>
        </div>

        
    </div>    

    <script src="{%static 'js/check_tar.js'%}"></script>
    <script src="{%static 'js/add_balance.js'%}"></script>
    {%endblock%}    
</body>
</html>