
{%extends 'main.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block title%} Ваш профиль {%endblock%}
    {%block link%} 
    <link rel="stylesheet" href="{%static 'css/profile.css'%}">
    {%endblock%}
</head>
<body>
    {%block content%}
    <div class="main-container">
        
        <div class="user-bar">
            <div class="Main-inf"><button>Лицевой счет</button></div>
            <div class="services"><button>Услуги</button></div>
            <div class="changing-profile"><button>Изменение профиля</button></div>
            
        </div>
        <div>
            <div class="user-id-text">Лицевой счет <inf>  №1234567</inf></div>
            <div class="container-other">
    
                <div class="balanse-text">
                        <div class="text-inf">Баланс на 05.05.2025 в 15:00</div>
                        <div class="balasne">5000 руб.</div>
                        <div class="otherinf">
                            <div class="type-pay">Система оплаты:<inf>Кредитная</inf></div>
                            <div class="auto-pay">Автопополнение:<inf>Не настроено</inf></div>
                            <div class="delivery-inf">Доставка счёта:<inf>личный кабинет</inf></div>
                            <button>Управлять счетом</button>
                        </div>
                    </div>
                    <div class="tarif-name">
                        <div class="content-block">
    
                            <div class="imgtarif"><img src="{%static 'img/Cpu.png' %}" alt=""></div>
                            <div class="tarif-login-and-type">
                                <div class="type-tarif">Домашний интернет</div>
                                <div class="login-tarif">Логин <inf>@FSDFasdasda</inf></div>
                            </div>
                        </div>
                        <div class="container-more">
                            <div class="status-tarif">Статус услуги:<inf>Активная</inf></div>
                            <div class="status">Тариф:<inf>Безлимитный интернет 1000Мбит/c</inf></div>
                            <div class="bonuses">Отсуствуют</div>
                            <div class="button">
                                <button>Управлять услугой</button>
                        </div>
                        </div>
                    </div>
                    <div class="user-profile-inf">
                    <div class="first-name">Фио: <inf>Николай Николаевич Николаев</inf></div>
                    <div class="number-phone">Номер телефона: <inf>+799999999999</inf></div>
                    <div class="adress">Адрес:<inf>Владивосток ул. Латте 12г Кв 15</inf></div>
            </div>    
            </div>
        </div>

        
    </div>    


    {%endblock%}    
</body>
</html>