{%extends 'AdminPanel.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Тестировка{%endblock%}</title>
   {%block link%}
   <link rel="stylesheet" href="{%static 'css/testing.css'%}">
   <link rel="stylesheet" href="{% static 'css/admin.css' %}">
   {%endblock%}

</head>
<body>
    {%block logolabel%} MeowCRM {%endblock%}
    {%block bar%} 
    
    {%endblock%}
    {%block content%}
     <div class="admin-panel"> 
        <div class="leftbar">
            <div class="icons">
                <div class="icon-conteiner">
                    <button class="Supporters-button">

                </button></div>
                <div class="icon-conteiner">
                    <button class="Sellers-button">

                </button></div>
                <div class="icon-conteiner">
                    <button class="users-in-button">

                </button></div>
                <div class="icon-conteiner">
                    <button class="stats-button">

                </button></div>
                <div class="icon-conteiner">
                    <button class="new-users-button">

                </button></div>
                <div class="icon-conteiner">
                    <button id="settings-button" class="settings-button">

                </button></div>
                <div class="icon-conteiner">
                    <a href="{%url 'test'%}"><button id="testing-button"></button></a> 

                </button></div>

            </div>
            <div id="settings" class="settings">
                <div class="elements-in-settings">
                    <div>
                        <button class="general">Общие</button>
                    </div>
                    <div>
                        <button class="tarifs">Тарифы</button>
                    </div>
                    <div>
                        <button class="emploers">Сотрудники</button>
                    </div>
                    <div>
                        <button class="data-for-employers">База знаний</button>
                    </div>
                    <div>
                        <button class="news">Новости для сотрудников</button>
                    </div>
                    <div>
                        <button class="integrations">Интеграции</button>
                    </div>
                    
                </div>
            </div>
                
            </div>
            <div class='makeuser'>
                    <div class="minimum-data">
                        <div><input id="username" type="text" placeholder='username'></div>
                        <div><input id ='password'type="text" placeholder='password'></div> 
                    </div>    
                    
                    <div class="checkbox-testing-make-user">
                         <div><input type="checkbox" id="tech" value="2"> Техническая поддержка</input></div>
                        <div><input type="checkbox" id="sales" value="1"> Продажи</input></div>
                    </div>
                   
                    <div class="button-test-container">
                            <button id="confrum">Создать сотрудника</button>
                    </div>
                  
                    <div id="textinf"></div>
                </div>
    <script src="{%static 'js/opensettings.js' %}"> </script>   
    <script src="{%static 'js/testmakeuser.js' %}"></script>
    {%endblock%}
    
</body>
</html>