{% extends 'foremployer.html' %}
{% load static %}

{% block title %}Заявки{% endblock %}
{% block logolabel %}MeowCRM{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/applications.css' %}">
<link rel="stylesheet" href="{%static 'css/paginator.css'%}">
{% endblock %}
{%block bar%}
{%block messages%}
        <div class="message-inf" id="message-inf">
          
           
        </div>
    {%endblock%}
<div class="icons">
 {%if user.user_acces > 0 %}
 <div class="bar-container">

    

     <div class="icon-conteiner">  
         
                <button class="work-shift-button" id="work-shift-button" title="рабочая смена"></button>
                <a><button class="new-application" title="Поиск заявок" id="new-application" {%if not user.in_work%}disabled{%endif%}></button></a>
                 <button class="new-application-from-worker" id="openModalBtn" title="Создать новую заявку" {%if not user.in_work%}disabled{%endif%}></button>
                <a href="{% url 'find_adres'%}"><button title="Просмотр технической возможности по адресу" class="find-home-button" {%if not user.in_work%}disabled{%endif%}></button></a>
                
               
             
    
                
            </div>
        {%endif%}
           
        <div class="icon-conteiner">
                {%if user.user_acces > 1 %} 
                <a href="{% url 'users-stat'%}"> <button class="users-in-button" title="Поиск по лицевому счету" {%if not user.in_work%}disabled{%endif%}> </button></a>
                {%endif%}
                
            </div>
            <div class="icon-conteiner">   
                
                <a href="{% url 'phones'%}"><button title="Поиск заявки по номеру телефона" class="find-phone-button" {%if not user.in_work%}disabled{%endif%}></button></a>
                
    
                
            </div>
            
    </div>
    <div class="search-container">
        <button class="search-button" id="searchBtn"{%if not user.in_work%}disabled{%endif%} title="Добавление заявки"></button>
        
        <div>

            <input type="text" class="search-input" id="searchInput" title="Добавление заявки" placeholder="ID"{%if not user.in_work%}disabled{%endif%} >
        </div>
    </div>    
 </div>   
<errors id="errors">  
        <text id="errorinf"></text>
        <span id="closeModal" class="close" style="color: black;">&times;</span>
</errors>
   
{%endblock%}
{% block content %}

<div id="applications-container">
    <div id="createAppModal" class="modal">
    <div class="modal-card">
        <!-- Кнопка закрытия -->
        <span id="closeModalBtn" class="modal-close-btn">&times;</span>

        <div class="modal-header">
            <h2>Создать новую заявку</h2>
        </div>

        <div class="modal-body modal-two-columns">
            <!-- Левая колонка -->
            <div class="modal-column modal-left-column">
                <div class="modal-field">
                    <label for="modal-fullname">ФИО:</label>
                    <input type="text" id="modal-fullname">
                </div>
                <div class="modal-field">
                    <label for="modal-phone">Телефон:</label>
                    <input type="text" id="modal-phone">
                </div>
                <div class="modal-field">
                    <label for="modal-status">Статус заявки:</label>
                    <select id="modal-status">
                        <option value="opt1">Заявка заведена</option>
                        <option value="opt2">Неуспешно</option>
                        <option value="opt3" selected>Новая заявка</option>
                        <option value="opt4">Заявка обработана сотрудником</option>
                        <option value="opt5">Юридическая заявка</option>
                    </select>
                </div>
                <div class="modal-field">
                    <label for="modal-date_create">Желаемая дата подключения:</label>
                    <input type="datetime-local" id="modal-date_create">
                </div>
            </div>

            <!-- Правая колонка -->
            <div class="modal-column modal-right-column">
                <div class="modal-field">
                    <label for="modal-passport">Паспорт:</label>
                    <input type="text" id="modal-passport">
                </div>
                <div class="modal-field">
                    <label for="modal-address">Адрес:</label>
                    <input type="text" id="modal-address">
                </div>
                <div class="modal-field">
                    <label for="modal-comment">Комментарий:</label>
                    <textarea id="modal-comment"></textarea>
                </div>
                <div class="modal-field">
                    <label for="modal-plan">Выбранный тариф:</label>
                   <select name="" id="modal-plan">
                   <option value="nothing" {%if not user.user_acces == 1 or user.user_acces >= 4%}disabled{%endif%}>Без тарифа</option>
                    {%for i in tarifs%}
                    <option value="{{i.id}}">{{i.Tarif_name}}</option>
                    {%endfor%}
                   </select>
                   <div class="modal-field">
                    <label for="modal-problem">Технические неполадки:</label>
                   <select name="" id="modal-problem" {%if not user.user_acces == 3 or user.user_acces >= 4%}disabled{%endif%}>
                   <option value="nothing">Техническая неполадка не выбрана</option>
                    {%for i in problem%}
                    <option value="{{i.id}}">{{i.name_problem}}</option>
                    {%endfor%}
                   </select>
                </div>
                </div>
            </div>
        </div>

        <div class="modal-actions">
            <button class="modal-save-btn" id="modalSaveBtn">Сохранить</button>
        </div>
    </div>
</div>
    {%for i in app%}
    
    
    
    
        <div class="application-card" style="background-color: {{i.color}};">
            <div class="card-header">
                <div class="card-id">
                    
                    <div value="{{i.id}}" id='card-id' >ID:{{i.id}}</div>
                </div>
                <div class="card-date">
                    <label for="app-date">Дата создания:</label>
                    <input type="text" id="app-date" value="{{i.data_create}}" readonly>
                </div>
            </div>
            
            <div class="card-body two-columns">
                <!-- Левая колонка -->
                <div class="column left-column">
                    <div class="field">
                        <label for="app-fullname">ФИО:</label>
                        <input type="text" id="app-fullname" value="{{i.user}}">
                    </div>
                    <div class="field">
                        <label for="app-phone">Телефон:</label>
                        <input type="text" id="app-phone" value="{{i.phone}}">
                    </div>
                    <div class="field">
                        <div style="font-size: 16px;">Изменение статуса заявки</div>
                        <select type="text" id="app-status" value="[Статус заявки]">
                            {%if i.application_status == 'opt1'%}<option value="opt1"selected>Заявка заведена</option >{%else%}<option value="opt1">Заявка заведена</option > {%endif%}
                            {%if i.application_status == 'opt2'%}<option value="opt2" selected>Неуспешно</option>{%else%}<option value="opt2" >Неуспешно</option>{%endif%}
                            {%if i.application_status == 'opt3'%}<option value="opt3" selected>Новая заявка</option>{%else%}<option value="opt3" >Новая заявка</option>{%endif%}
                            {%if i.application_status == 'opt4'%}<option value="opt4" selected>Заявка обработана сотрудником</option>{%else%}<option value="opt4" >Заявка обработана сотрудником</option>{%endif%}
                            {%if i.application_status == 'opt5'%}<option value="opt5" selected>Юридическая заявка</option>{%else%}<option value="opt5" >Юридическая заявка</option>{%endif%}
                        </select>
                        
                        <div style="font-size: 16px;">
                            <div>
    
                                Желаемая дата подключения:<input type="datetime-local" name="date_create" id="date_create"value= {{i.Desired_date}}>
                            </div>
                            <div>
    
                                Предыдущая дата: {%if  i.Desired_date == None%}
                                Дата не была выбрана 
                                {%else%}
                                {{i.Desired_date}}
                                {%endif%}
                            </div>
    
                        </div>
                        
                        
                    </div>
                </div>
        
                <!-- Правая колонка -->
                <div class="column right-column">
                    <div class="field">
                        <label for="app-passport">Паспорт:</label>
                        {%if user.user_acces < 3 %}
                            <input type="text" id="app-passport" value="" readonly>
                            {%else%}
                            {%if i.pasport%}
                            <input type="text" id="app-passport" value="{{i.pasport}}" >
                            {%else%}
                            <input type="text" id="app-passport" value="">
                            {%endif%}
                        {%endif%}
                    </div>
                    <div class="field">
                        <label for="app-address">Адрес:</label>
                        <input type="text" id="app-address" value="{{i.adres}}">
                    </div>
                    <div class="field">
                        <label for="app-comment">Комментарий:</label>
                        <textarea id="app-comment">{{i.comment}}</textarea>
                    </div>
                    <div class="field">
                        <label for="app-plan">Выбранный тариф:</label>
                        <input type="text" id="app-plan" value="{{i.tariffield}}" readonly>
                    </div>
                </div>
            </div>
        
            <div class="card-actions">
                {%if user.user_acces > 3%}
                <button class="save-btn"  value="{{i.id}}">Создать пользователя</button>
                {%endif%}
            </div>
        </div>
        
            {%endfor%}

        {%if user.user_acces >= 4%}
        {%for i in AdmApp %}
          <div class="application-card "style="background-color: {{i.color}};">
            <div class="card-header">
                <div class="card-id" style="font-size: 16px;">
                    <div value="{{i.id}}" id='card-id' >ID:{{i.id}}</div>
                    <div >{%if i.FromOrder %}Заявка от пользователя:{{i.FromOrder}}{%endif%}</div>
                </div>
                <div class="card-date">
                    <label for="app-date">Дата создания:</label>
                    <input type="text" id="app-date" value="{{i.data_create}}" readonly>
                </div>
            </div>
            
            <div class="card-body two-columns">
                <!-- Левая колонка -->
                <div class="column left-column">
                    <div class="field">
                        <label for="app-fullname">ФИО:</label>
                        <input type="text" id="app-fullname" value="{{i.user}}">
                    </div>
                    <div class="field">
                        <label for="app-phone">Телефон:</label>
                        <input type="text" id="app-phone" value="{{i.phone}}">
                    </div>
                    <div class="field">
                        <div style="font-size: 16px;">Изменение статуса заявки</div>
                        <select type="text" id="app-status" value="[Статус заявки]">
                            {%if i.application_status == 'opt1'%}<option value="opt1"selected>Заявка заведена</option >{%else%}<option value="opt1">Заявка заведена</option > {%endif%}
                            {%if i.application_status == 'opt2'%}<option value="opt2" selected>Неуспешно</option>{%else%}<option value="opt2" >Неуспешно</option>{%endif%}
                            {%if i.application_status == 'opt3'%}<option value="opt3" selected>Новая заявка</option>{%else%}<option value="opt3" >Новая заявка</option>{%endif%}
                            {%if i.application_status == 'opt4'%}<option value="opt4" selected>Заявка обработана сотрудником</option>{%else%}<option value="opt4" >Заявка обработана сотрудником</option>{%endif%}
                            {%if i.application_status == 'opt5'%}<option value="opt5" selected>Юридическая заявка</option>{%else%}<option value="opt5" >Юридическая заявка</option>{%endif%}
                        </select>
                        
                        <div style="font-size: 16px;">
                            <div>
    
                                Желаемая дата подключения:<input type="datetime-local" name="date_create" id="date_create"value= {{i.Desired_date}}>
                            </div>
                            <div>
    
                                Предыдущая дата: {%if  i.Desired_date == None%}
                                Дата не была выбрана 
                                {%else%}
                                {{i.Desired_date}}
                                {%endif%}
                            </div>
    
                        </div>
                        
                        
                    </div>
                </div>
        
                <!-- Правая колонка -->
                <div class="column right-column">
                    <div class="field">
                        <label for="app-passport">Паспорт:</label>
                        {%if user.user_acces < 3 %}
                            <input type="text" id="app-passport" value="" readonly>
                            {%else%}
                            {%if i.pasport%}
                            <input type="text" id="app-passport" value="{{i.pasport}}" >
                            {%else%}
                            <input type="text" id="app-passport" value="">
                            {%endif%}
                        {%endif%}
                    </div>
                    <div class="field">
                        <label for="app-address">Адрес:</label>
                        <input type="text" id="app-address" value="{{i.adres}}">
                    </div>
                    <div class="field">
                        <label for="app-comment">Комментарий:</label>
                        <textarea id="app-comment">{{i.comment}}</textarea>
                    </div>
                    <div class="field">
                        <label for="app-plan">Выбранный тариф:</label>
                        <input type="text" id="app-plan" value="{{i.tariffield}}" readonly>
                    </div>
                </div>
            </div>
        
            <div class="card-actions">
                {%if user.user_acces > 3%}
                
                <button class="save-btn"  value="{{i.id}}">{%if i.FromOrder %}Изменить пользователя{%else%}Создать пользователя{%endif%}</button>
                {%endif%}
            </div>
        </div>
        {%endfor%}
        <div class="pages-container" style="display: inline;">
            <div class="pages-obj">
            {%for i in pages%}
            
                <a href="?page={{i}}" class="pages">{{i}}</a>
            
            {%endfor%}
            </div>
        </div>
        {%endif%}

</div>
</div>
<script src="{%static 'js/make_messeges_from_site.js'%}"> </script>
<script src="{%static 'js/workshift.js'%}"></script>
<script src="{%static 'js/ChangeCards.js'%}"></script>
<script src="{%static 'js/getnew.js'%}"></script>
<script src="{%static 'js/find_app_by_id.js'%}"></script>
<script src="{%static 'js/create_new_user.js'%}"></script>
<script src="{%static 'js/newapp_from_worker.js'%}"></script>
</div>
{% endblock %}