{% extends 'foremployer.html' %}
{% load static %}

{% block title %}Заявки{% endblock %}
{% block logolabel %}MeowCRM{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/applications.css' %}">
{% endblock %}
{%block bar%}
<div class="icons">
 {%if user.user_acces > 0%}
    <div class="icon-conteiner">   
            
            <a href="{% url 'find_adres'%}"><button class="find-home-button"></button></a>
            
        </div>
    {%endif%}
    {%if user.user_acces > 1%}    
    <div class="icon-conteiner">
            
            <a href="{% url 'users-stat'%}"> <button class="users-in-button"> </button></a>
    
        </div>
        {%endif%}
</div>    

{%endblock%}
{% block content %}
{%for i in app%}
<div class="application-card">
    <div class="card-header">
        <div class="card-id">
            
            <div>ID:{{i.id}}</div>
        </div>
        <div class="card-date">
            <label for="app-date">Дата создания:</label>
            <input type="text" id="app-date" value="{{i.data_create}}" readonly>
        </div>
    </div>
    
    <div class="card-body two-columns">
        <!-- Левая колонка -->
        <div class="column left-column">
            <div class="field">
                <label for="app-fullname">ФИО:</label>
                <input type="text" id="app-fullname" value="{{i.user}}">
            </div>
            <div class="field">
                <label for="app-phone">Телефон:</label>
                <input type="text" id="app-phone" value="{{i.phone}}">
            </div>
            <div class="field">
                
                <select type="text" id="app-status" value="[Статус заявки]">
                    {%if i.application_status == 'opt1'%}<option value="opt1"selected>Заявка заведена</option >{%else%}<option value="opt1">Заявка заведена</option > {%endif%}
                    {%if i.application_status == 'opt2'%}<option value="opt2" selected>Неуспешно</option>{%else%}<option value="opt2" >Неуспешно</option>{%endif%}
                    {%if i.application_status == 'opt3'%}<option value="opt3" selected>Новая заявка</option>{%else%}<option value="opt3" >Новая заявка</option>{%endif%}
                    {%if i.application_status == 'opt4'%}<option value="opt4" selected>Доработка</option>{%else%}<option value="opt4" >Доработка</option>{%endif%}
                    {%if i.application_status == 'opt5'%}<option value="opt5" selected>Юридическая заявка</option>{%else%}<option value="opt5" >Юридическая заявка</option>{%endif%}
                </select>
                <input type="date" name="date_create" id="date_create">
            </div>
        </div>

        <!-- Правая колонка -->
        <div class="column right-column">
            <div class="field">
                <label for="app-passport">Паспорт:</label>
                {%if user.user_acces < 3 %}
                    <input type="text" id="app-passport" value="" readonly>
                    {%else%}
                    <input type="text" id="app-passport" value="{{i.pasport}}" >
                {%endif%}
            </div>
            <div class="field">
                <label for="app-address">Адрес:</label>
                <input type="text" id="app-address" value="{{i.adres}}">
            </div>
            <div class="field">
                <label for="app-comment">Комментарий:</label>
                <textarea id="app-comment">{{i.comment}}</textarea>
            </div>
            <div class="field">
                <label for="app-plan">Выбранный тариф:</label>
                <input type="text" id="app-plan" value="{{i.tariffield}}">
            </div>
        </div>
    </div>

    <div class="card-actions">
        <button class="save-btn">Сохранить</button>
    </div>
</div>
    {%endfor%}

</div>
{% endblock %}