{%extends 'main.html'%}
{%block link%}
<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
{%endblock%}
{%block title%} Авторизация {%endblock%}

{%block content%}
<div class="login">
    <div class="log-container">

        <div class="logoAuth">MeowNet</div>
        <div class="text-login"><text>Вход в личный кабинет </text></div>
        <div class="choice">
            <div><button class="User-id"> Лицевой счет</button></div>
            <div><button class="number-phone-user">Номер телефона</button></div>
    </div>
        <div class="databar"><input type="text" placeholder="0-0-0-0-0" ></div>
        <div ><button class="confrum-button">Продолжить</button></div>
        
        <div class="user-legal"> 
            <text> Нажимая кнопку “Войти”,вы принимаете условия пользовательского соглашения</text></div>
        <hr>
            <div class="forgotpassword"><text>Забыли пароль?</text> </div>
    </div>
        
    </div>
{%endblock%}